* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.lorem-center {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

h3 {
    color: #FBA834; 
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.lorem-text > p {
    margin-bottom: 1rem;
    color: #35374B;
    line-height: 24px;
    text-align: justify;
}

#amount {
    width: 35px;
    text-align: center;
    border-radius: 5px;
    border: #40A2E3 1px solid;
    padding: 0.5rem 0.1rem;
    margin-right: 1rem;
    font-size: 18px;
}

.btn {
    background-color: #40A2E3;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 1rem;
    transition: 0.3s;
}

.btn:active {
    transform: scale(0.98);
}

label {
    font-size: 18px;
    color: #35374B;
    margin-right: 1rem;
}

.lorem-form {
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.copy-btn {
    background-color: #FBA834;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 1rem;
    transition: 0.3s;
    position: fixed;
    top: 25%;
    right: 20%;
}

.notification {
    background-color: #35374B;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 1rem;
    transition: all 0.3s;
    position: fixed;
    top: 50%; 
    opacity: 0.85; 
}



